﻿<%@ Master Language="C#" MasterPageFile="~/DiOTPMaster.Master" AutoEventWireup="true" CodeBehind="AccountMaster.master.cs" Inherits="DiOTP.WebApp.AccountMaster" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <link href="Content/assets/css/custom.css" rel="stylesheet" />
    <link href="/Content/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="AccountStyles" runat="server"></asp:ContentPlaceHolder>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="container-fluid">
        <aside class="sidebar sidebar-boxed col-md-3 col-lg-2 hidden-sm hidden-xs account">
            <ul class="sidenav dropable">

                <li class="logout">
                    <i class="fa fa-user-circle"></i><a id="aAccountName" runat="server" clientidmode="Static">Name</a>
                    <small id="smallAccountPlan" runat="server" clientidmode="Static">Account Plan</small>
                </li>

                <li><a href="/Portfolio.aspx">Investment Portfolio</a></li>

                <li>
                    <a href="#">Transaction</a>
                    <ul>
                        <li><a id="buyLink" runat="server" href="/BuyFunds.aspx" clientidmode="static">Buy</a></li>
                        <li><a id="sellLink" runat="server" href="/SellFunds.aspx" clientidmode="static">Sell</a></li>
                        <li><a id="switchLink" runat="server" href="/SwitchFunds.aspx" clientidmode="static">Switch</a></li>
                        <li><a id="orderListLink" runat="server" href="/OrderList.aspx">Order Status</a></li>
                        <li><a href="/TransactionHistory.aspx">Transaction History</a></li>
                        <li><a id="transferLink" runat="server" href="/Transfer-Funds.aspx">Transfer</a></li>
                        <li><a id="coolingOffLink" runat="server" href="/CoolingOff.aspx">Cooling Off</a></li>
                    </ul>
                </li>

                <li>
                    <a id="rsp" runat="server" href="#">Regular Savings Plan</a>
                    <ul>
                        <li><a id="rspLink" runat="server" href="/RegularSavingsPlan.aspx">RSP Subscription</a></li>
                        <li><a id="rspEnrollmentLink" runat="server" href="/RSPList.aspx">RSP Enrollment Status</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Statement</a>
                    <ul>
                        <li><a href="/StatementDownloads.aspx">Monthly Statement</a></li>
                        <li><a href="/OtherStatements.aspx?type=ID">Income Distribution</a></li>
                        <li><a href="/OtherStatements.aspx?type=US">Unit Split</a></li>
                        <li><a href="/FundReport.aspx">Fund Report</a></li>
                        <%--<li>
                            <a>Transaction Statement</a>
                            <ul>

                                <li><a href="/TaxInvoice.aspx">Confirmation of Master Account Details/Confirmation Advice Slip</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Fund Statement Report</a>
                            <ul>
                                <li><a href="/StatementDownloads.aspx">Monthly Statement</a></li>
                                <li><a href="/FundReport.aspx">Fund Report</a></li>
                                <li><a href="/TaxVoucher.aspx">Tax voucher on Distribution</a></li>
                            </ul>
                        </li>--%>
                    </ul>
                </li>
                <li>
                    <a href="#">User Center</a>
                    <ul>
                        <li><a href="/UserSettings.aspx">User Settings</a></li>
                        <li><a href="/Settings.aspx">Account Settings</a></li>

                        <%--<li><a href="/RequestHistory.aspx">RSP History</a></li>--%>
                    </ul>
                </li>
                <li>
                    <asp:LinkButton ID="lnkLogout3" runat="server" OnClick="lnkLogout3_Click">Logout</asp:LinkButton>
                </li>
            </ul>
        </aside>

        <div class="mobile-help hidden-lg hidden-md" style="line-height: 0.8;">
            <select id="my-select" class="selectpicker" style="line-height: 0.8;">

                <option value="/Portfolio.aspx" style="line-height: 0.8;">Investment Portfolio</option>

                <optgroup label="Transaction">
                    <option id="buyLink2" runat="server" value="/BuyFunds.aspx">Buy</option>
                    <option id="sellLink2" runat="server" value="/SellFunds.aspx">Sell</option>
                    <option id="switchLink2" runat="server" value="/SwitchFunds.aspx">Switch</option>
                    <option id="orderListLink2" runat="server" value="/OrderList.aspx">Order Status</option>
                    <option value="/TransactionHistory.aspx">Transaction History</option>
                    <option id="transferLink2" runat="server" value="/Transfer-Funds.aspx">Transfer</option>
                    <option id="coolingOffLink2" runat="server" value="/CoolingOff.aspx">Cooling Off</option>
                </optgroup>
                <optgroup label="Regular Savings Plan" id="rsp2" runat="server">
                    <option id="rspLink2" runat="server" value="/RegularSavingsPlan.aspx">RSP Subscription</option>
                    <option id="rspEnrollmentLink2" runat="server" value="/RSPList.aspx">RSP Enrollment Status</option>
                </optgroup>

                <optgroup label="Statements">
                    <option value="/StatementDownloads.aspx">Monthly Statement</option>
                    <option value="/OtherStatements.aspx?type=ID">Income Distribution</option>
                    <option value="/OtherStatements.aspx?type=US">Unit Split</option>
                    <option value="/FundReport.aspx">Fund Report</option>
                </optgroup>

                <optgroup label="User Center">
                    <option value="/UserSettings.aspx">User Settings</option>
                    <option value="/Settings.aspx">Account Settings</option>
                </optgroup>
            </select>
        </div>
        <asp:ContentPlaceHolder ID="AccountContent" runat="server"></asp:ContentPlaceHolder>

    </div>
</asp:Content>


<asp:Content ID="Content3" ContentPlaceHolderID="modalPlace" runat="server">
    <asp:ContentPlaceHolder ID="AccountModal" runat="server"></asp:ContentPlaceHolder>
</asp:Content>


<asp:Content ID="Content4" ContentPlaceHolderID="Scripts" runat="server">
    <asp:ContentPlaceHolder ID="AccountScripts" runat="server">
    </asp:ContentPlaceHolder>
    <script src="/Content/assets/js/theDocs.all.min.js"></script>
    <%--<script src="/Content/js/jquery.dataTables.min.js"></script>
    <script src="/Content/js/dataTables.bootstrap.min.js"></script>
    <script src="/Content/js/dataTables.responsive.min.js"></script>
    <script src="/Content/js/responsive.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".myDataTable").DataTable({
                responsive: true,
            });
        });
    </script>--%>
    <script src="Content/js/Duplicate.js"></script>
    <script>

        if (performance.navigation.type == 1) {
            $.ajax({
                url: "Logout.aspx/BrowserClose",
                contentType: 'application/json; charset=utf-8',
                type: "GET",
                dataType: "JSON",
                data: function (data) {
                    return data;
                },
                success: function (data) {
                    var pageName = window.location.pathname;
                    if (pageName.indexOf('/') != -1)
                        pageName = pageName.replace('/', '');
                    if (data.d.Message == 'has-session') {
                        //ShowCustomMessage('Your Session has expired', 'For security reasons, we have disabled double clicks and Back, Forward and Refresh tabs of the browser. Also, the session will expire automatically, if the browser window is idle for a long time.<br/>If the problem persists, please try again after clearing the Temporary Files from your web browser.', '/Index.aspx');
                        ShowCustomMessage('Your Session has expired', 'For security reasons, we have disabled Refresh tabs of the browser. Also, the session will expire automatically, if the browser window is idle for a long time.<br/>If the problem persists, please try again after clearing the Temporary Files from your web browser.', '/Index.aspx');
                    }
                }
            });
        }

        function print_nav_timing_data_account() {


            // Use getEntriesByType() to just get the "navigation" events
            //console.log("in event.currentTarget.performance.navigation.type: " + performance.navigation.type);
            var perfEntries = performance.getEntriesByType("navigation");

            for (var i = 0; i < perfEntries.length; i++) {
                //console.log("in = Navigation entry[" + i + "]");
                var p = perfEntries[i];
                // dom Properties
                //console.log("in DOM content loaded = " + (p.domContentLoadedEventEnd - p.domContentLoadedEventStart));
                //console.log("in DOM complete = " + p.domComplete);
                //console.log("in DOM interactive = " + p.interactive);

                // document load and unload time
                //console.log("in document load = " + (p.loadEventEnd - p.loadEventStart));
                //console.log("in document unload = " + (p.unloadEventEnd - p.unloadEventStart));

                // other properties
                //console.log("type = " + p.type);
                //console.log("redirectCount = " + p.redirectCount);


                if (p.type == 'navigate') {

                }
                else if (p.type == 'reload') {

                }
                else if (p.type == 'back_forward') {
                    
                }
                else if (p.type == 'prerender') {

                }

            }
        }

        print_nav_timing_data_account();

        $(function () {

            //var tcAcceptBuySession = sessionStorage['tcAcceptBuy'];
            //if (tcAcceptBuySession != undefined && tcAcceptBuySession != null && tcAcceptBuySession != "") {
            //    $('#buyLink').attr('href', "/BuyFunds.aspx?isTermsModalPopup=0");
            //    $('option[value="/BuyFunds.aspx"]').val("/BuyFunds.aspx?isTermsModalPopup=0");
            //}
            //var tcAcceptSellSession = sessionStorage['tcAcceptSell'];
            //if (tcAcceptSellSession != undefined && tcAcceptSellSession != null && tcAcceptSellSession != "") {
            //    $('#sellLink').attr('href', "/SellFunds.aspx?isTermsModalPopup=0");
            //    $('option[value="/SellFunds.aspx"]').val("/SellFunds.aspx?isTermsModalPopup=0");
            //}
            //var tcAcceptSwitchSession = sessionStorage['tcAcceptSwitch'];
            //if (tcAcceptSwitchSession != undefined && tcAcceptSwitchSession != null && tcAcceptSwitchSession != "") {
            //    $('#switchLink').attr('href', "/SwitchFunds.aspx?isTermsModalPopup=0");
            //    $('option[value="/SwitchFunds.aspx"]').val("/SwitchFunds.aspx?isTermsModalPopup=0");
            //}

            $('.no-link').click(function () {
                var msg = $(this).data('message');
                ShowCustomMessage('Alert', msg, '');
            });

            //var excludedPages = ['LostGoogleAuthenticator.aspx'];
            if (window.IsDuplicate()) {
                //var isClose = $.grep(excludedPages, function (obj, idx) {
                //    return window.location.href.indexOf(obj) != -1;
                //})[0];
                //console.log(isClose);
                //if (isClose == null)
                window.close();
            }

            $('.selectpicker').selectpicker({
                style: 'btn-info',
                size: 4
            });
            $('.selectpicker-acc').selectpicker({
                style: 'btn-disabled',
                size: 4
            });
            var optionurl = window.location.pathname;
            var origin = window.location.origin;
            var href = window.location.href;
            var url = href.replace(origin, "");
            //url = url.replace(optionurl, "");
            optionurl = url;
            //console.log(optionurl + url);
            if ($('[href*="' + optionurl + '"]').length > 0) {
                $('[href*="' + optionurl + '"]').parent('li').addClass('active');
                if ($('[href*="' + optionurl + '"]').parent('li').parent('ul') != undefined) {
                    //$('[href="' + optionurl + '"]').parent('li').parent('ul').animate({ display: 'block' });

                    if ($('[href*="' + optionurl + '"]').parent('li').parent('ul').prev('a.has-child') != undefined) {
                        //$('[href="' + optionurl + '"]').parent('li').parent('ul').prev('a.has-child').addClass('open');
                        $('[href*="' + optionurl + '"]').parent('li').parent('ul').prev('a.has-child').click();
                    }
                }
            }
            var pathUrl = window.location.pathname;
            console.log(pathUrl);
            if (pathUrl == '/SAT-Form.aspx') {
                pathUrl = '/Settings.aspx';
            }
            else if (pathUrl == '/FPXResponse.aspx') {
                pathUrl = '/FPXResponse.aspx';
            }

            $('#my-select').val(pathUrl);
            $('.selectpicker').selectpicker('refresh')
            $('.mobile-help').on('change', '#my-select', function () {
                var target = $(this).val();
                window.location.href = target;
            });
        });


    </script>


</asp:Content>
