﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="DiOTPMaster.master.cs" Inherits="DiOTP.WebApp.DiOTPMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Apex</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <%--<link rel="stylesheet" type="text/css" href="/Content/assets/css/bootstrap.css" />--%>
    <link rel="stylesheet" type="text/css" href="/Content/assets/css/style.css" />
    <link href="/Content/assets/icons/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/assets/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/Content/MyCJ/My-StyleSheet.css" rel="stylesheet" />
    <link href="/Content/MyCJ/MyStyles.css?v=1.92" rel="stylesheet" />
    <link href="/Content/assets/css/Loader.css" rel="stylesheet" />
    <link href="/Content/MyCJ/Slider.css?v=1.4" rel="stylesheet" />
    <link href="/Content/MyCJ/diotp_style.css?v=1.4" rel="stylesheet" />
    <link href="/Content/MyCJ/Help.css?v=1.3" rel="stylesheet" />
    <link href="/Content/MyCJ/MobileStyles.css?v=1.14" rel="stylesheet" />
    <link href="Content/MyCJ/animateWhatsapp.css" rel="stylesheet" />
    <script src="/Content/assets/js/modernizr.custom.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>


<body class="header-dark navbar-transparent navbar-fixed with-topbar withAnimation pb-30" onload="StopLoading()" oncontextmenu="return false">
    <div id="popup1" class="custom-popup overlay hide">
        <div class="popup">
            <h2 id="custom-popup-heading">Here i am</h2>
            <div class="content" id="custom-popup-content">
                Thank to pop me out of that button, but now i'm done so you can close this window.
            </div>
            <div class="custom-popup-button">
                <button type="button" id="custom-popup-close" class="btn btn-primary btn-block">OK</button>
            </div>
        </div>
    </div>

    <div id="popup2" class="custom-popup-confirmation overlay hide">
        <div class="popup">
            <h2 id="custom-popup-confirmation-heading">Here i am</h2>
            <div class="content" id="custom-popup-confirmation-content">
                Thank to pop me out of that button, but now i'm done so you can close this window.
            </div>
            <div class="custom-popup-button">
                <div class="btn-groups pull-right">
                    <button type="button" id="custom-popup-confirmation-cancel" class="btn btn-default">Cancel</button>
                    <button type="button" id="custom-popup-confirmation-ok" class="btn btn-primary">OK</button>
                </div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>

    <div id="popup3" class="custom-popup-guide overlay hide">
        <div class="popup">
            <h2><span id="custom-popup-guide-heading">Here i am</span><a href="javascript:;" id="custom-popup-guide-close" class="pull-right"><i class="fa fa-times"></i></a></h2>
            <div class="content" id="custom-popup-guide-content">
                Thank to pop me out of that button, but now i'm done so you can close this window.
            </div>
        </div>
    </div>


    <div class="position-fixed top right account-selected" id="accountSelectedDropdown" visible="false" runat="server">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="primaryAccountButton" runat="server" clientidmode="static">
            <span id="primaryAccountClass" runat="server">Holder Class</span> <span class="caret"></span>
            <br />
            <span id="maNumber" runat="server"></span>
        </button>
        <ul class="dropdown-menu" id="userAccountsList" runat="server" clientidmode="static">
        </ul>
    </div>

    <div class="bank-guide-popup hide">
                                                                <table border="1" bordercolor="#cccccc" cellpadding="5" cellspacing="0" align="center" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th height="30" width="30%">Bank</th>
                                                                            <th height="30" width="30%">Transfer To</th>
                                                                            <th height="30" width="15%">Length</th>
                                                                            <th height="30" width="25%">Remarks</th>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Affin Bank Berhad / Affin Islamic Bank Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">12 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Current</td>
                                                                            <td>12 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Agro Bank</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">16 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>16 digits</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td rowspan="2" class="txt_highlight" valign="top">Al-Rajhi Banking &amp; Investment Corporation (Malaysia) Berhad</td>
                                                                            <td>Savings</td>
                                                                            <td>15 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Current</td>
                                                                            <td>15 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Alliance Bank Malaysia Berhad / Alliance Islamic Bank Malaysia Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">15 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>15 digits</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">AmBank (M) Berhad / AmIslamic Bank Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">13 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Current</td>
                                                                            <td>13 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Bank Islam Malaysia Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">14 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>14 digits</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td class="txt_highlight" rowspan="1" valign="top">Bank Kerjasama Rakyat Malaysia Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">12 digits</td>
                                                                            <td rowspan="1" valign="top">Note:<br>
                                                                                Transfer to Ar Rahnu &amp; Az Zanab is not allowed</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Bank of America (Malaysia) Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">5-17 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>5-17 digits</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Bank of China (Malaysia) Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">13 and 15 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Current</td>
                                                                            <td>13 and 15 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Bank Muamalat Malaysia Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">14 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>14 digits</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td class="txt_highlight" rowspan="1" valign="top">Bank Simpanan Nasional Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">16 digits</td>
                                                                            <td rowspan="1" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td rowspan="1" class="txt_highlight" valign="top">BNP Paribas Malaysia Berhad</td>
                                                                            <td valign="top">Current (Corporate Current Account)</td>
                                                                            <td valign="top">6-16 digits</td>
                                                                            <td rowspan="1" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">CIMB Bank Berhad / CIMB Islamic Bank Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">10 or 14 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td height="18">Current</td>
                                                                            <td height="18">10 or 14 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Citibank Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">10 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>10 digits<br>
                                                                                (Personal)<br>
                                                                                9-16 digits<br>
                                                                                (Corporate)</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td rowspan="2" class="txt_highlight" valign="top">Deutsche Bank (M) Berhad</td>
                                                                            <td>Savings</td>
                                                                            <td>10-17 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Current</td>
                                                                            <td>10-17 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td rowspan="2" class="txt_highlight" valign="top">HSBC Bank Malaysia Berhad / HSBC Amanah Malaysia Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">12 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>12, 13, 14, 15, 17 digits</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td rowspan="2" class="txt_highlight" valign="top">Industrial and Commercial Bank of China (Malaysia) Bhd (ICBC)</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">19 digits</td>
                                                                            <td rowspan="2" valign="top">Note:<br>
                                                                                For Saving, Current and Loans, enter account number from 3rd digit onwards
                                                                                <br>
                                                                                <br>
                                                                                Example: For account number of '0129000 1000 0012 3456', enter '29000 1000 0012 3456'</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Current</td>
                                                                            <td>19 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td rowspan="2" class="txt_highlight" valign="top">J.P. Morgan Chase Bank Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">10-17 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>10-17 digits</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Kuwait Finance House (Malaysia) Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">12 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Current</td>
                                                                            <td>12 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Malayan Banking Berhad (Maybank) / Maybank Islamic Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">12 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>12 digits</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td rowspan="2" class="txt_highlight" valign="top">MBSB Bank Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">16 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td class="text_10">Current</td>
                                                                            <td class="text_10">16 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td rowspan="1" class="txt_highlight" valign="top">Mizuho Bank (Malaysia) Berhad</td>
                                                                            <td valign="top">Current</td>
                                                                            <td valign="top">10 digits</td>
                                                                            <td rowspan="1" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td rowspan="2" class="txt_highlight" valign="top">MUFG Bank (Malaysia) Berhad</td>
                                                                            <td valign="top">Current</td>
                                                                            <td valign="top">6 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Savings</td>
                                                                            <td>6 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">OCBC Bank (Malaysia) Berhad/ OCBC Al-Amin Bank Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">10 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>10 digits</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">Public Bank Berhad / Public Islamic Bank Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">10 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Current</td>
                                                                            <td>10 digits</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td class="txt_highlight" rowspan="2" valign="top">RHB Bank Berhad / RHB Islamic Bank Berhad<br>
                                                                            </td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">14 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td>Current</td>
                                                                            <td>14 digits</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td rowspan="2" class="txt_highlight" valign="top">Standard Chartered Bank Malaysia Berhad / Standard Chartered Saadiq Berhad</td>
                                                                            <td valign="top">Savings</td>
                                                                            <td valign="top">12 digits</td>
                                                                            <td rowspan="2" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Current</td>
                                                                            <td>12 digits (Personal)<br>
                                                                                5-17 digits (Corporate)</td>
                                                                        </tr>
                                                                        <tr class="even">
                                                                            <td rowspan="1" class="txt_highlight" valign="top">Sumitomo Mitsui Banking Corporation Malaysia Berhad</td>
                                                                            <td valign="top">Current</td>
                                                                            <td valign="top">8 digits</td>
                                                                            <td rowspan="1" valign="top">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td class="txt_highlight" rowspan="2">United Overseas Bank (Malaysia) Berhad</td>
                                                                            <td>Savings</td>
                                                                            <td>10 or 11 digits</td>
                                                                            <td rowspan="2">&nbsp;</td>
                                                                        </tr>
                                                                        <tr class="odd">
                                                                            <td>Current</td>
                                                                            <td>7, 9, 10, 11, 12, 13, 14 or 17 digits</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>

    <%--<div class="top right language-selected">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span id="languageCode" runat="server" class="uppercase">EN</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="languagesList" runat="server" clientidmode="static">
            <li data-toggle="tooltip" data-title="English" data-placement="left"><a href="/Index.aspx?languageSelected=en">EN</a></li>
            <li data-toggle="tooltip" data-title="Malay" data-placement="left"><a href="/Index.aspx?languageSelected=bm">BM</a></li>
        </ul>
    </div>--%>
    <%--<div class="hidden-sm">
        <a href="https://web.whatsapp.com/send?l=en&amp;phone=601151179079&amp;text=Hi,%20I%20need%20help." class="ak86_tada wcf2w_button wcf2w_tooltip hidden-sm hidden-xs" style="right: 20px; bottom: 20px; background-color: #2ecc71; color: #ffffff;" target="_blank">
            <i class="fa fa-whatsapp"></i>
        </a>
    </div>
    <div class="hidden-md hidden-lg">
        <a href="https://api.whatsapp.com/send?phone=601151179079&text=Hi,%20I%20need%20help." class="ak86_tada wcf2w_button wcf2w_tooltip hidden-md hidden-lg" style="right: 10px; bottom: 20px; background-color: #2ecc71; color: #ffffff;" target="_blank">
            <i class="fa fa-whatsapp"></i>
        </a>
    </div>--%>

    <form id="form1" runat="server">
        <div id="impersonatedUserLabel" runat="server" class="impersonatedUserLabel" clientidmode="static" visible="false">
            <span>Impersonated</span>
        </div>
        <div class="loader-bg">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
        </div>

        <nav class="navbar yamm" role="navigation">
            <div class="container">
                <!-- Desktop logo---- mobile hidden -->
                <div class="navbar-header hidden-xs">
                    <a id="navbarBrand" runat="server" clientidmode="static" class="navbar-brand" href="/Index.aspx" title="Apex Investment Services Berhad">
                        <img src="/Content/MyImage/logo.png" alt="Apex Logo" height="60" />
                    </a>
                </div>
                <!-- Desktop logo ends--- mobile hidden -->
                <div class="collapse navbar-collapse no-transition" id="bs-example-navbar-collapse-1 hidden-sm">
                    <ul class="nav navbar-nav navbar-right">

                        <!-- Mobile Menu Hidden Content---------- Mobile Menu Hidden Content-->

                        <li id="liLogout2" runat="server" visible="false">
                            <a href="#">
                                <img src="/Content/MyImage/1.png" height="80" />
                            </a>
                            <a href="/Portfolio.aspx" id="usernameMobile" runat="server">Username</a>
                            <asp:LinkButton ID="lnkLogout2" runat="server" OnClick="lnkLogout_Click"> Logout</asp:LinkButton>
                            <asp:LinkButton ID="lnkCancel2" runat="server" Visible="false" OnClick="lnkCancel_Click"> Exit</asp:LinkButton>
                        </li>

                        <li id="liMobilelogin" runat="server" visible="true">
                            <a href="#">
                                <img src="/Content/MyImage/1.png" height="70" /></a>
                            <ul class="mobile-up-menu">
                                <li>
                                    <button type="button" class="btn btn-infos ft-btn" onclick="javascript:window.location.href='Login.aspx'">Login</button>
                                </li>
                                <li id="Register2" runat="server">
                                    <button type="button" class="btn btn-infos mt-8 fot-btn" onclick="javascript:window.location.href='/CorporateAccounts.aspx'">Open an Account</button>
                                    <%--<button type="button" class="btn btn-infos mt-8 fot-btn" onclick="javascript:window.location.href='/OTP-Activation.aspx'">Register</button>--%>
                                </li>
                            </ul>
                        </li>
                        <li id="mobile-footer">
                            <ul class="list-inline">
                                <li>
                                    <div class="text-wrapper"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook fa-fw"></i></a></div>
                                </li>
                                <li>
                                    <div class="text-wrapper"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter fa-fw"></i></a></div>
                                </li>
                                <li>
                                    <div class="text-wrapper"><a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google +"><i class="fa fa-google-plus fa-fw"></i></a></div>
                                </li>
                            </ul>
                        </li>

                        <li id="mobile-contact-down">
                            <ul class="mobile-up-contact">
                                <li class="mobile-title">Copyright 2018 ©. All Rights Reserved.</li>
                            </ul>
                        </li>
                        <!-- Mobile Menu Hidden Content ends ---------- Mobile Menu Hidden Content ends -->

                        <!-- Desktop Menu visible------- Desktop Menu visible -->

                        <li id="liAccount" runat="server" visible="false">
                            <a href="/Portfolio.aspx" class="fs-15 fms-11" style="text-transform: none;">eApexIs</a>
                        </li>

                        <li>
                            <a href="/Funds-listing.aspx" class="fs-13 fms-11" id="menuItemFundCenter" runat="server">Fund Center</a>
                        </li>

                        <%-- <li class="dropdown diotp-dropdown">
                            <a class="dropdown-toggle fs-13 fms-11" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:;">EMIS
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Index.aspx">ELC</a></li>
                                <li><a href="/Index.aspx">Withdrawal</a></li>
                                <li><a href="/Index.aspx">Redemption</a></li>
                            </ul>
                        </li>--%>

                        <li>
                            <a href="/Help-Center.aspx" class="fs-13 fms-11">Help</a>
                        </li>

                        <li>
                            <a href="/Contact.aspx" class="fs-13 fms-11">Contact Us</a>
                        </li>

                        <li class="dropdown search hidden-sm hidden-xs">
                            <button type="button" onclick="myFunction()" class="dropbtn">
                                <i class="fa fa-search"></i>
                            </button>
                            <div id="myDropdown" class="dropdown-content">
                                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" />
                                <ul id="fundSearchList">
                                </ul>
                            </div>
                        </li>

                        <li class="dropdown search hidden-sm hidden-xs" id="notificationBell" runat="server" visible="false">
                            <button type="button" class="dropbtn">
                                <%--onclick="javascript:location.href='BuyFunds.aspx';"--%>
                                <div class="box">
                                    <svg class="bell" width="20px" height="8%" viewBox="0 0 21 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                        <title>Notification Bell</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                            <g id="Bell_SVG" sketch:type="MSLayerGroup" fill="#ffff33">
                                                <path d="M10.5,23 C12.4329966,23 14,21.4329966 14,19.5 C14,17.5670034 12.4329966,16 10.5,16 C8.56700338,16 7,17.5670034 7,19.5 C7,21.4329966 8.56700338,23 10.5,23 Z M8.48610111,19.034 C8.62220942,19.034 8.68975947,19.101 8.68975947,19.236 C8.68975947,19.73 8.87022901,20.156 9.2331845,20.493 C9.57194296,20.852 10.0024485,21.032 10.5005041,21.032 C10.6356042,21.032 10.7041625,21.099 10.7041625,21.234 C10.7041625,21.368 10.6356042,21.436 10.5005041,21.436 C9.88952902,21.436 9.3682846,21.211 8.93878727,20.785 C8.50828172,20.358 8.28244275,19.842 8.28244275,19.236 C8.28244275,19.101 8.3499928,19.034 8.48610111,19.034 Z" id="Oval-1" sketch:type="MSShapeGroup"></path>
                                                <path d="M1.60607806,19.236 L7.26415094,19.236 C7.2641511,19.2360001 13.7358494,19.2360001 13.7358491,19.236 L19.3939219,19.236 C19.8234193,19.236 20.2085554,19.079 20.5251332,18.765 C20.8417111,18.45 21,18.069 21,17.642 C19.3939219,16.296 18.1941524,14.635 17.3795189,12.659 C16.5648855,10.684 16.1575688,8.597 16.1575688,6.419 C16.1575688,5.028 15.7502521,3.95 14.9577992,3.142 C14.1431658,2.312 13.0341351,1.841 11.6317154,1.661 C11.6992654,1.526 11.7224543,1.369 11.7224543,1.212 C11.7224543,0.875 11.6085266,0.584 11.360507,0.359 C11.1336598,0.112 10.8392626,0 10.5005041,0 C10.1607374,0 9.88952902,0.112 9.66268184,0.359 C9.41365404,0.584 9.30073455,0.875 9.30073455,1.212 C9.30073455,1.369 9.32291517,1.526 9.39147343,1.661 C7.98804551,1.841 6.87901484,2.312 6.06438139,3.142 C5.24974795,3.95 4.84243123,5.028 4.84243123,6.419 C4.84243123,8.597 4.4351145,10.684 3.62048106,12.659 C2.80584762,14.635 1.60607806,16.296 0,17.642 C0,18.069 0.158288924,18.45 0.474866772,18.765 C0.79144462,19.079 1.17658073,19.236 1.60607806,19.236 Z" id="Path" sketch:type="MSShapeGroup"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </button>
                            <div id="notificationDropdown" class="dropdown-notific">
                                <ul id="notification" runat="server">
                                </ul>
                            </div>
                        </li>

                        <li id="liLogin" runat="server">
                            <button type="button" class="btn mt-26 ml-10 ft-btn" onclick="javascript:window.location.href='Index.aspx'">Login</button>
                        </li>

                        <li id="liRegister" runat="server">
                            <button type="button" class="btn btn-infos1 mt-26 ml-10" onclick="javascript:window.location.href='/CorporateAccounts.aspx'">Open an Account</button>
                            <%--<button type="button" class="btn btn-infos1 mt-26 ml-10" onclick="javascript:window.location.href='OTP-Activation.aspx'">Register</button>--%>
                        </li>


                        <li class="dropdown" id="liLogout" runat="server" visible="false">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="Username" runat="server">Username</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <asp:LinkButton ID="lnkLogout" runat="server" OnClick="lnkLogout_Click">Logout</asp:LinkButton>
                                    <asp:LinkButton ID="lnkCancel" runat="server" Visible="false" OnClick="lnkCancel_Click"> Exit</asp:LinkButton>
                                </li>
                            </ul>
                        </li>
                        <!-- Desktop Menu visible ends------- Desktop Menu visible ends  -->
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Wrapper content starts....
            wrapper content starts....-->

        <div id="wrapper">
            <!--- Mobile logo, login and register-->
            <div class="container">
                <div class="navbar-header visible-xs visible-sm">
                    <a id="navbarBrandMobile" runat="server" class="navbar-brand" href="Index.aspx">
                        <img src="/Content/MyImage/logo.png" alt="Apex Logo" /></a>
                    <span class="mobile-account" id="mobileAccount" runat="server" clientidmode="static">
                        <a href="/Login.aspx" class="menu-login">Login</a>
                        <a href="/OTP-Activation.aspx" class="menu-register">Register</a>
                    </span>

                    <button type="button" class="navbar-toggle" id="sidebar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <!--- Mobile logo, login and register ends ---->
            <div class="inner-body" data-snap-ignore="true">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <!-- Footer content starts here---- footer content starts here-->
            <div class="post-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12" style="font-family: 'Montserrat' , sans-serif;">
                            <span style="font-size: small">Copyright 2021 © </span><a href="https://www.apexis.com.my/" target="_blank">Apex Investment Services Berhad.</a><span style="font-size: small"> All rights reserved.</span><br />
                            <span style="font-size: 10px">Best viewed with Google Chrome. You may experience difficulty using the site if you are using other browsers.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="footer-list">
                                <li><a href="/TermsAndConditions.aspx" target="_blank">Terms & Conditions</a></li>
                                <li><a href="/Disclaimer.aspx" target="_blank">Disclaimer</a></li>
                                <li><a href="/PrivacyPolicy.aspx" target="_blank">Privacy Policy</a></li>
                                <li><a href="/InternetRisk.aspx" target="_blank">Internet Risk</a></li>
                                <li><a href="/TransactionNotice.aspx" target="_blank">Transaction Notice</a></li>
                                <li><a href="https://www.apexis.com.my/" target="_blank">Apex Investment Corporate Website</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer content starts here---- footer content starts here-->
        </div>
        <!-- Wrapper content ends....
            wrapper content ends....-->
        <asp:ContentPlaceHolder ID="modalPlace" runat="server">
        </asp:ContentPlaceHolder>


        <script data-cfasync="false" src="/Content/cdn-cgi/scripts/af2821b0/cloudflare-static/email-decode.min.js"></script>
        <%--<script src="/Content/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script> --%> 
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <%--<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>--%>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <%--<script src="/Content/assets/bootstrap/js/bootstrap.min.js"></script>--%>
        <script src="/Content/assets/js/corpress.min.js"></script>
        <script src="/Content/js/froogaloop2.min.js"></script>
        <script src="/Content/assets/twitter/js/jquery.tweet.js"></script>
        <script src="/Content/assets/form/js/contact-form.js"></script>
        <script src="/Content/assets/js/main.js"></script>
        
        <script src="/Content/assets/js/bootstrap-select.min.js"></script>
        <script src="Content/MyCJ/master-scripts.js"></script>

        <asp:ContentPlaceHolder ID="Scripts" runat="server">
        </asp:ContentPlaceHolder>


    </form>

    <%--<script>

        

        (function (global) {

            if (typeof (global) === "undefined") {
                throw new Error("window is undefined");
            }

            var _hash = "!";
            var noBackPlease = function () {
                global.location.href += "#";

                // making sure we have the fruit available for juice....
                // 50 milliseconds for just once do not cost much (^__^)
                global.setTimeout(function () {
                    global.location.href += "!";
                }, 50);
            };

            // Earlier we had setInerval here....
            global.onhashchange = function () {
                if (global.location.hash !== _hash) {
                    global.location.hash = _hash;
                }
            };

            global.onload = function () {

                noBackPlease();

                // disables backspace on page except on input fields and textarea..
                document.body.onkeydown = function (e) {
                    var elm = e.target.nodeName.toLowerCase();
                    if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
                        e.preventDefault();
                    }
                    if ((e.which || e.keyCode) == 116 || (e.ctrlKey && e.keyCode == 82) ) {
                        e.preventDefault();
                    }
                    // stopping event bubbling up the DOM tree..
                    e.stopPropagation();
                };

                StopLoading();

            };

        })(window);
</script>--%>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5ec355146f7d401ccbb7ca0f/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--Start of Tawk.to Script
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5c73ba5ca726ff2eea594977/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    End of Tawk.to Script-->

    <div class="printable">
    </div>

</body>
</html>
