﻿body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #3d3d3d;
    text-decoration: none;
}

.side-space {
    width: 13%;
    left: 0;
    position: fixed;
    height: 100%;
    top: 0;
    background: #32323a;
}

.label-inverse {
    background-color: #344860;
}

.main-space {
    width: 87%;
    left: 13%;
    position: fixed;
    height: 100%;
    top: 0;
}

.header {
    left: 16%;
    right: 0;
    width: 84%;
    z-index: 1002;
    background: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-collapse.collapse {
    padding: 10px;
}

.content {
    padding: 10px 10px 100px 10px;
}

.logoo {
    padding: 20px 50px;
    text-align: center;
}

    .logoo a {
        font-size: 40px;
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }

.top-space {
    padding: 10px 15px;
    background: #d8d8d8;
}

.right {
    float: right;
}

.fs-17 {
    font-size: 17px;
}

.top-space ul {
    margin-bottom: 0px;
    float: right;
}

    .top-space ul li {
        display: inline-block;
        margin-right: 18px;
    }
        .top-space ul li:last-child {
            margin-right: 0;
        }

        .top-space h3 {
            display: inline-block;
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 0;
            color: #000;
        }

.panel-group {
    margin-bottom: 20px;
    border: 1px solid #ddd;
}


/* Snack bar */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    max-width: 300px; /* Set a default minimum width */
    margin-left: -150px; /* - Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: absolute; /* Sit on top of the screen */
    z-index: 1050; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the top */
}

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

table.dataTable {
    width: 100% !important;
}

    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: 1px solid #dcdcdc;
        border-top: 1px solid #dcdcdc;
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid #dcdcdc;
    }

.dataTables_filter label input {
    width: 100%;
    padding: 5px 8px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-left: 0 !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: 11px;
    left: 4px;
    height: 12px;
    width: 12px;
    display: block;
    position: absolute;
    color: #34b6ab;
    border: 2px solid white;
    border-radius: 3px;
    text-align: center;
    line-height: 12px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    content: '+';
    font-size: 16px;
    font-weight: 900;
    background-color: #ffffff;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
    display: none !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    content: '-';
    background-color: #ffffff;
    line-height: 11px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #f4f4f4;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid #e1e1e1;
    background: #f9f9f9;
    box-shadow: none;
    padding: 3px 8px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #d3d3d3;
    background-color: #e9e9e9;
    padding: 3px 8px;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 15px;
}

.btn {
    padding: 4px 12px;
    border-radius: 2px;
}

input[type=file] {
    display: block;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 4px 8px;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    background: #00c4aa;
    padding: 3px 8px;
    border: 1px solid #00c4aa;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.userDetailsTable {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.table-heading {
    font-size: 18px;
    color: #0c00ac;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
}

.main-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: #32323a;
}

.btn-sm {
    padding: 1px 6px;
    background: #00c4aa;
    border: #00c4aa;
}

.fileupload .btn {
    background: #eee;
}

@media (min-width: 768px) {
    .modal-dialog.lg {
        width: 80%;
        margin: 25px auto;
    }

    .modal-dialog.md {
        width: 60%;
        margin: 25px auto;
    }

    .modal-dialog.sm {
        width: 40%;
        margin: 30px auto;
    }

    .modal-body {
        /*max-height: 480px;*/
        /*overflow-y: scroll;*/
    }
}

.modal-dialog .form-control {
    margin-bottom: 10px;
}

.btn-sm:hover {
    color: #fff;
    background-color: #11afa6;
    border-color: #11afa6;
}

table.dataTable > tbody > tr.child ul li {
    display: table-row;
}

table.dataTable > tbody > tr.child span.dtr-title, table.dataTable > tbody > tr.child span.dtr-data {
    display: table-cell;
    padding: 2px;
    white-space: normal;
}

.ui-widget.ui-widget-content {
    z-index: 999999 !important;
}

.colorpicker {
    z-index: 999999 !important;
}

table.dataTable.row-border tbody tr th,
table.dataTable.row-border tbody tr td,
table.dataTable.display tbody tr th,
table.dataTable.display tbody tr td {
    white-space: normal;
}

.button-common-label + * {
    padding-right: 40px;
}

.button-common-label {
    position: absolute;
    right: 15px;
    top: 0;
    height: 100%;
    width: 40px;
}

.search-features {
}

    .search-features > input, .search-features > select {
        float: left;
    }

    .search-features > input {
        width: 75%;
        border-radius: 0;
    }

    .search-features > select {
        width: 25%;
        border-radius: 0;
        border-right: 0;
        border-left: 0;
        padding: 6px 0px 6px 5px;
    }

.action-section {
    width: 100%;
    height: 34px;
    background: rgba(4, 196, 170, 0.1);
    border-radius: 4px;
}

    .action-section .action-button {
        height: 34px;
        width: 36px;
        margin-right: 5px;
    }
    .action-section .sync-nav-button {
        width:auto;
    }

.action-section .action-button:first-child {
    height: 34px;
    width: 36px;
    margin-right: 0;
}

.common-divider {
    padding: 0 0.5px;
    margin: 0 5px 0 5px;
    height: 34px;
    background: rgba(4, 196, 170, 0.45);
    display: block;
    content: ' ';
}
    .common-divider + .action-button {
        margin-right: 0;
    }
/*.action-section .col-md-6:first-child {
        border-right: 1px solid #04c4aa;
    }
    .action-section .col-md-6:last-child {
        border-left: 1px solid #04c4aa;
    }*/
/*.action-section .button-common-label {
    background: rgba(4, 196, 170, 0.5);
    border: 1px solid rgba(4, 196, 170, 0.5);
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left: 5px solid rgba(4, 196, 170, 0.5);
    color: #04c4aa;
}*/

/*table.dataTable > tbody > td:first-child {
    padding-left: 30px;
}
.text-vertical{
    transform: rotate(-90deg);
    position: absolute;
    margin-left: -40px;
    margin-top: 5px;
}
.text-vertical * {
    font-weight:100;
    font-size:10px;
}*/
table.dataTable > tbody > tr td:first-child {
    min-width: 50px;
}

.icheck div {
    margin-right: 2px;
}

.icheck .checkbox, .icheck .radio {
    margin-bottom: 2px;
    margin-right: 2px;
    margin-top: 2px;
}

.checkbox label, .radio label {
    padding-left: 3px;
}

.icheckbox_square, .iradio_square {
    width: 18px;
    height: 18px;
    background-size: cover;
}

td.icheck:hover .icheckbox_square {
    background-position: -18px 0;
}

    td.icheck:hover .icheckbox_square.checked {
        background-position: -35px 0;
    }

.icheckbox_square.hover {
    background-position: -18px 0;
}

.icheckbox_square.checked {
    background-position: -35px 0;
}

.popover-title {
    text-align: center;
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.popover-content:empty {
    padding: 0;
}

.popover-content:not(:empty) {
    padding: 5px 10px;
}

.my-hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(4, 196, 170, 0.27);
}

.department {
    background: #f1f1f7;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

    .department .mini-stat {
        background: #ffffff;
        margin-bottom: 0px;
    }

    .department h5 {
        position: absolute;
        z-index: 99;
        margin-top: -25px;
        margin-left: -10px;
        background: #f1f1f7;
        padding: 5px 10px;
        border-radius: 5px;
        background: #f1f1f7;
    }

.department-W, .department-W h5 {
    background: #8fd6d6;
}

.department-L, .department-L h5 {
    background: #ffa991;
}

.panel.my-panel .panel-heading {
    background: #8fd6d6;
    color: #000000;
}

.panel.my-panel {
    border-radius: 3px;
}

    .panel.my-panel .panel-heading .tools a {
        color: #ffffff;
    }

    .panel.my-panel .panel-body {
        padding: 10px !important;
        border: 1px solid #8fd6d6;
        border-top: none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding-bottom: 30px !important;
    }

.mini-stat-info {
    font-size: 12px;
}

table tbody tr:hover, table tbody tr:hover {
    background-color: unset !important;
}

.search-message {
    position: absolute;
    margin-top: -20px;
    font-weight: 600;
    right: 15px;
}

.div_batch_log {
    position: absolute;
    padding: 10px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 6px;
    background: #fff;
    margin-top: -100px;
    margin-left: 100px;
}

span.log_close {
    font-weight: 600;
    font-size: 9px;
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    color: #fff;
    padding: 3px 6px;
    cursor: pointer;
    border-top-right-radius: 6px;
}

.mini-stat-info span {
    font-size: 18px;
    line-height: 18px;
}

.div_batch_log .mini-stat {
    min-width: 210px;
    padding: 5px;
    margin-bottom: 5px;
}

    .div_batch_log .mini-stat .mini-stat-icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
    }

    .div_batch_log .mini-stat .mini-stat-info span {
        font-size: 15px;
    }

        .div_batch_log .mini-stat .mini-stat-info span small {
            font-weight: 500;
            font-size: 12px;
        }

[data-toggle="confirmation"]:hover + .popover:hover {
    display: block;
}

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: block;
}


ul.sidebar-menu li a {
    padding: 12px 0 12px 25px;
}
ul.sidebar-menu li ul.sub li a {
    padding-top: 7px;
    padding-bottom: 7px;
}

.panel-body-noborder {
    height: calc(100vh - 125px);
}
.page-length-selection{
    width: 100px;
}
.loadingDivAdmin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1050;
    display: none;
}
    .loadingDivAdmin .icon {
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        color: #fff;
        font-size: 40px;
    }
th.icheck .single-row{
    width: auto;
}


table.dataTable thead th:first-child {
    padding-right: 30px;
}

.table > tbody > tr > td .table > tbody > tr > td,
.table > tbody > tr > th .table > tbody > tr > td,
.table > tfoot > tr > td .table > tbody > tr > td,
.table > tfoot > tr > th .table > tbody > tr > td,
.table > thead > tr > td .table > tbody > tr > td,
.table > thead > tr > th .table > tbody > tr > td {
    border-top:none;
}
.lock-status {
    display: block !important;
    float: none !important;
    padding: 10px;
    font-size: 50px;
    text-align: center;
}


.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
