body {
    background-color: #ececec;
    background-image: linear-gradient(45deg, #059cce, #059cce);
    background-size: 504px 100%;
    background-repeat: no-repeat;
    background-position: right;
}

main {
    background-color: #ececec;
    background-image: linear-gradient(45deg, #059cce, #059cce);
    background-size: 410px 100%;
    /*    background-size: 475px 100%;*/
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 5px;
    /*    padding-left: 83px;*/
    /*    padding-right: 382px;*/
    padding-right: 410px;
    /*    padding-right: 475px;*/
    padding-top: 100px;
    padding-bottom: 24px;
}

@media (max-width: 991px) {
    main {
        padding-right: 182px;
        background-size: 275px 100%;
        padding-right: 275px;
        padding-top: 20px;
    }
    /*main {
        padding-right: 182px;
    }*/
}

@media (max-width: 767px) {
    main {
        /*        padding: 24px;*/
        /*        padding-top: 80px;*/
        /*        padding-top: 40px;*/
        padding: 5px;
        /* padding-top: 80px; */
        padding-top: 40px;
        padding-right: 30px;
        background-size: 30px 100%;
    }

    .media:first-child {
        margin-top: auto;
    }

    .media {
        margin-top: auto;
        display: inline-block;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.bd-wizard-card {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(208, 208, 208, 0.5);
    background-color: #ffffff;
/*    min-height: 597px;*/
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 767px) {
    .bd-wizard-card {
        margin-top: 25px;
        margin-bottom: 0;
        min-height: auto;
    }
}

.bd-wizard-card .card-body {
    padding: 40px 40px 40px 40px;
    height: calc(100vh - 94px - 106px);
    /*    height: 735px;*/
    overflow-y: scroll;
}

    .bd-wizard-card .card-body::-webkit-scrollbar {
        width: 5px;
    }
    .bd-wizard-card .card-body .steps::-webkit-scrollbar {
        width: 5px;
    }

@media (max-width: 767px) {
    .bd-wizard-card .card-body {
        /*        padding: 50px 20px 20px;*/
        /*        padding: 50px 20px 20px 45px;*/
        padding: 15px 25px 15px 15px;
    }

        .bd-wizard-card .card-body::-webkit-scrollbar {
            width: 2px;
        }

        .bd-wizard-card .card-body .steps::-webkit-scrollbar {
            width: 2px;
        }
}

/* Wizard */
.wizard .audible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.wizard .steps {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 445px;
    /*    width: 510px;*/
    height: calc(100vh - 92px - 90px);
    margin-top: 90px;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (max-width: 991px) {
    .wizard .steps {
        width: 310px;
    }
}

@media (max-width: 767px) {
    .wizard .steps {
        position: absolute;
        /*        bottom: calc(100% - 25px);*/
        padding-left: 0;
        width: 100%;
        top: auto;
        left: auto;
        right: 0;
        margin-right: -35px;
        overflow-y: hidden;
        width: 60px;
        bottom: -20px;
        z-index: 1;
    }
}

.wizard .steps > ul {
    list-style: none;
    padding-left: 0;
/*    display: flex;*/
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    z-index: 1;
    height: 100%;
}

@media (max-width: 767px) {
    .wizard .steps > ul {
        flex-direction: row;
    }
}

.wizard .steps > ul li a {
    display: inline-block;
}

    .wizard .steps > ul li a:hover {
        text-decoration: none;
    }

@media (max-width: 767px) {
    .wizard .steps > ul li {
        margin-right: 12px;
    }

        .wizard .steps > ul li:last-child {
            margin-right: 0;
        }
}

.wizard .steps > ul li .media {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 991px) {
    .wizard .steps > ul li .media {
        align-items: center;
    }
}

@media (max-width: 767px) {
    .wizard .steps > ul li .media {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.wizard .steps > ul li .bd-wizard-step-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgb(191, 187, 187);
    background-color: #ffffff;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
    line-height: 60px;
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.wizard .steps > ul li.current .bd-wizard-step-icon {
    color: #fff;
}

.wizard .steps > ul li.current .bd-wizard-step-title {
    font-size: 22px;
}

.wizard .steps > ul li.done .bd-wizard-step-icon {
    color: #757575;
}

@media (max-width: 767px) {
    .wizard .steps > ul li .bd-wizard-step-icon {
        margin-right: 0;
        height: 50px;
        width: 50px;
        line-height: 50px;
    }
}

.wizard .steps > ul li .bd-wizard-step-title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

@media (max-width: 767px) {
    .wizard .steps > ul li .bd-wizard-step-title {
        display: none;
    }
}

.wizard .steps > ul li .bd-wizard-step-subtitle {
    font-size: 14px;
    line-height: 1.6;
    color: #ffffff;
    font-weight: normal;
    opacity: 0.4;
    width: 271px;
}

@media (max-width: 991px) {
    .wizard .steps > ul li .bd-wizard-step-subtitle {
        display: none;
    }
}

.wizard .steps > ul li.current .bd-wizard-step-icon, .wizard .steps > ul li.done .bd-wizard-step-icon {
    background-color: #282828;
}

.wizard .content .title {
    display: none;
}

.wizard .content .logo {
    margin-bottom: 11px;
}

.wizard .content .section-heading {
    font-size: 20px;
    color: #030303;
    margin-bottom: 30px;
}

.wizard .content p {
    /*font-size: 14px;*/
    line-height: 1.43;
    /*color: #6b6767;*/
}

.wizard .content .form-group {
    margin-bottom: 23px;
}

.wizard .content .form-control {
    padding: 10px 25px;
    min-height: 50px;
    border-radius: 4px;
    font-size: 15px;
    border: solid 1px #ececec;
}

    .wizard .content .form-control::-webkit-input-placeholder {
        color: #919aa3;
    }

    .wizard .content .form-control::-moz-placeholder {
        color: #919aa3;
    }

    .wizard .content .form-control:-ms-input-placeholder {
        color: #919aa3;
    }

    .wizard .content .form-control::-ms-input-placeholder {
        color: #919aa3;
    }

    .wizard .content .form-control::placeholder {
        color: #919aa3;
    }

.wizard .actions > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin-bottom: 0;
}

.wizard .actions li a {
    display: inline-block;
    border-radius: 6px;
    background-color: #763cb0;
    padding: 16px 30px;
    color: #fff;
    font-style: 15px;
    font-weight: bold;
}

    .wizard .actions li a:hover {
        text-decoration: none;
    }

.wizard .actions li.disabled {
    display: none;
}

.bd-wizard-btn {
    border: 1px solid #059cce;
    padding: 5px 10px;
    background-color: #059cce;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    width: 120px;
    margin-right: 0rem !important;
}

@media (max-width: 767px) {
    .bd-wizard-btn {
        padding: 12px 24px;
    }
}

.actions {
    display: none;
}

.card-footer-text {
    margin-bottom: 0;
    margin-top: 39px;
}

/*# sourceMappingURL=bd-wizard.css.map */
